<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gace.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/thelogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/thelogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Add_Group"></activity>
        <activity android:name=".ChatGroups" />
        <activity
            android:name=".EventReviews"
            android:parentActivityName=".Eventinfo"
            android:theme="@style/AppTheme.YesActionBar" />
        <activity
            android:name=".AddEventReview"
            android:parentActivityName=".Eventinfo"
            android:theme="@style/AppTheme.YesActionBar" />
        <activity android:name=".AllPostActivity" />
        <activity
            android:name=".Report_Activity"
            android:parentActivityName=".Eventinfo"
            android:theme="@style/AppTheme.YesActionBar" />
        <activity
            android:name=".Contact_Organizer"
            android:parentActivityName=".Eventinfo"
            android:theme="@style/AppTheme.YesActionBar" />
        <activity android:name=".OrderComplete" />
        <activity
            android:name=".Continue_Ticketing"
            android:parentActivityName=".BuyTicket"
            android:theme="@style/AppTheme.YesActionBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".BuyTicket"
            android:parentActivityName=".Eventinfo"
            android:theme="@style/AppTheme.YesActionBar" />
        <activity android:name=".Reset_password" />
        <activity
            android:name=".MyProfile"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.YesActionBar" />
        <activity
            android:name=".UploadEvent"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.YesActionBar" />
        <activity
            android:name=".EventRegistration"
            android:parentActivityName=".Eventinfo"
            android:theme="@style/AppTheme.YesActionBar" />
        <activity
            android:name=".Eventinfo"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.YesActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.YesActionBar" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/AppTheme.YesActionBar" />
    </application>

</manifest>